<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form method="POST" action="http://localhost:8080/alumnos/new">
        <label htmlFor="nombre">Nombre</label>
        <input type="text" id="nombre" name="nombre" />
        <label htmlFor="image">Apellido Paterno</label>
        <input type="text" id="description" name="apellido_materno" />
        <label htmlFor="description">Apellido Materno</label>
        <input type="text" id="description" name="apellido_paterno" />
        <button type="submit">
            Insertar
        </button>
</body>

</html>